<div class="row col-md-12 vertical-align">
	<div class="col-md-6">
	<span class="title" ng-hide="ctrl.currentGame.edit"
		ng-dblclick="ctrl.startEdit()">{{ctrl.currentGame.data.player.name}}</span>
	<input style="font-size: 35px;" ng-show="ctrl.currentGame.edit"
		ng-blur="ctrl.stopEdit()" ng-model="ctrl.currentGame.data.player.name"></input>
  </div>
  <div class="col-md-3">
    <span> <img src="../../img/herosheet/move.png" width="30px" ng-click="ctrl.startEdit()"
      tooltip="Movement speed" /> <span class="value" ng-hide="ctrl.currentGame.edit"
      ng-dblclick="ctrl.startEdit()">{{ctrl.currentGame.data.player.move}}
    </span> <input style="width: 15px;" ng-show="ctrl.currentGame.edit"
      ng-blur="ctrl.stopEdit()"
      ng-model="ctrl.currentGame.data.player.move"> </input>
    </span> <span> <img src="../../img/herosheet/courage.png" width="30px" ng-click="ctrl.startEdit()"
      tooltip="Courage" /> <span class="value" ng-hide="ctrl.currentGame.edit"
      ng-dblclick="ctrl.startEdit()">{{ctrl.currentGame.data.player.courage}}</span>
      <input style="width: 15px;" ng-show="ctrl.currentGame.edit"
      ng-blur="ctrl.stopEdit()"
      ng-model="ctrl.currentGame.data.player.courage"></input>
    </span>
  </div>
</div>


<div class="row col-md-12">
	<div class="col-md-6">
		<life-counter class="after20" max="ctrl.currentGame.data.player.maxHP"
			current="ctrl.currentGame.data.player.currentHP" id="'player'"
			hasname="false"> </life-counter>
	</div>
	<div class="col-md-6">
		<threat-counter current="ctrl.currentGame.data.player.threat"></threat-counter>
	</div>
</div>



<!-- Party resources -->
<div class="row col-md-12 top17">

	<div class="col-md-1 vertical-align no-padding-right"> <img src="../../img/herosheet/gold.png" width="30px" ng-click="ctrl.startEdit()"
		tooltip="Gold" /> <span class="value before5"
		ng-hide="ctrl.currentGame.edit" ng-dblclick="ctrl.startEdit()">{{ctrl.currentGame.data.player.gold || '0'}}</span>
		<input style="width: 25px;" ng-show="ctrl.currentGame.edit"
		ng-blur="ctrl.stopEdit()"
		ng-model="ctrl.currentGame.data.player.gold"></input>
	</div> <div class="col-md-1 vertical-align no-padding-right"> <img src="../../img/herosheet/serendipity.png" ng-click="ctrl.startEdit()"
		width="30px" tooltip="Serendipity" /> <span class="value before5"
		ng-hide="ctrl.currentGame.edit" ng-dblclick="ctrl.startEdit()">{{ctrl.currentGame.data.player.serendipity || '0'}}</span>
		<input style="width: 25px;" ng-show="ctrl.currentGame.edit"
		ng-blur="ctrl.stopEdit()"
		ng-model="ctrl.currentGame.data.player.serendipity"></input>
	</div> <div class="col-md-1 vertical-align no-padding-right"> <img src="../../img/herosheet/treasure.png" ng-click="ctrl.startEdit()"
		width="30px" tooltip="Available Treasures" /> <span class="value before5"
		ng-hide="ctrl.currentGame.edit" ng-dblclick="ctrl.startEdit()">{{ctrl.currentGame.data.player.treasures || '0'}}</span>
		<input style="width: 25px;" ng-show="ctrl.currentGame.edit"
		ng-blur="ctrl.stopEdit()"
		ng-model="ctrl.currentGame.data.player.treasures"></input>
	</div>
	
	
	<!-- Status effects -->
	<div class="col-md-1 col-md-offset-2 vertical-align no-padding-right"> <img src="../../img/herosheet/poison.png" ng-click="ctrl.startEdit()"
		width="30px" tooltip="-1 HP/turn" /> <span class="value before5"
		ng-hide="ctrl.currentGame.edit" ng-dblclick="ctrl.startEdit()">{{ctrl.currentGame.data.player.statusEffects.poison || '0'}}</span>
		<input style="width: 25px;" ng-show="ctrl.currentGame.edit"
		ng-blur="ctrl.stopEdit()"
		ng-model="ctrl.currentGame.data.player.statusEffects.poison"></input>
	</div>
	<div class="col-md-1 vertical-align no-padding-right"> <img src="../../img/herosheet/prone.png" ng-click="ctrl.startEdit()"
		width="30px" tooltip="Cannot act this Hero Cycle" /> <span class="value before5"
		ng-hide="ctrl.currentGame.edit" ng-dblclick="ctrl.startEdit()">{{ctrl.currentGame.data.player.statusEffects.prone || '0'}}</span>
		<input style="width: 25px;" ng-show="ctrl.currentGame.edit"
		ng-blur="ctrl.stopEdit()"
		ng-model="ctrl.currentGame.data.player.statusEffects.prone"></input>
	</div>
	<div class="col-md-1 vertical-align no-padding-right"> <img src="../../img/herosheet/cursed.png" ng-click="ctrl.startEdit()"
		width="30px" tooltip="Hand size reduced by X" /> <span class="value before5"
		ng-hide="ctrl.currentGame.edit" ng-dblclick="ctrl.startEdit()">{{ctrl.currentGame.data.player.statusEffects.cursed || '0'}}</span>
		<input style="width: 25px;" ng-show="ctrl.currentGame.edit"
		ng-blur="ctrl.stopEdit()"
		ng-model="ctrl.currentGame.data.player.statusEffects.crused"></input>
	</div>
	<div class="col-md-1 vertical-align no-padding-right"> <img src="../../img/herosheet/capture.png" ng-click="ctrl.startEdit()"
		width="30px" tooltip="Discard X cards to play" /> <span class="value before5"
		ng-hide="ctrl.currentGame.edit" ng-dblclick="ctrl.startEdit()">{{ctrl.currentGame.data.player.statusEffects.capture || '0'}}</span>
		<input style="width: 25px;" ng-show="ctrl.currentGame.edit"
		ng-blur="ctrl.stopEdit()"
		ng-model="ctrl.currentGame.data.player.statusEffects.capture"></input>
	</div>
	<div class="col-md-1 vertical-align no-padding-right"> <img src="../../img/herosheet/frozen.png" ng-click="ctrl.startEdit()"
		width="30px" tooltip="-X action spaces" /> <span class="value before5"
		ng-hide="ctrl.currentGame.edit" ng-dblclick="ctrl.startEdit()">{{ctrl.currentGame.data.player.statusEffects.frozen || '0'}}</span>
		<input style="width: 25px;" ng-show="ctrl.currentGame.edit"
		ng-blur="ctrl.stopEdit()"
		ng-model="ctrl.currentGame.data.player.statusEffects.frozen"></input>
	</div>
</div>


<!-- Potions -->
<div class="row col-md-12 top7">
	<span class="value col-md-1">Potions:</span> 
	<div class="col-md-1  vertical-align no-padding-right"> <img src="../../img/inventory/health4.png" ng-click="ctrl.startEdit()"
		width="30px" tooltip="Heal 4HP" /> <span class="value before5"
		ng-hide="ctrl.currentGame.edit" ng-dblclick="ctrl.startEdit()">{{ctrl.currentGame.data.player.items.potions.health4 || '0'}}</span>
		<input style="width: 25px;" ng-show="ctrl.currentGame.edit"
		ng-blur="ctrl.stopEdit()"
		ng-model="ctrl.currentGame.data.player.items.potions.health4"></input>
	</div>
	<div class="col-md-1 vertical-align no-padding-right"> <img src="../../img/inventory/health6.png" ng-click="ctrl.startEdit()"
		width="30px" tooltip="Heal 6HP" /> <span class="value before5"
		ng-hide="ctrl.currentGame.edit" ng-dblclick="ctrl.startEdit()">{{ctrl.currentGame.data.player.items.potions.health6 || '0'}}</span>
		<input style="width: 25px;" ng-show="ctrl.currentGame.edit"
		ng-blur="ctrl.stopEdit()"
		ng-model="ctrl.currentGame.data.player.items.potions.health6"></input>
	</div>
	<div class="col-md-1 col-md-offset-1 vertical-align no-padding-right"> <img src="../../img/inventory/antidote.png" ng-click="ctrl.startEdit()"
		width="30px" tooltip="Cures poison" /> <span class="value before5"
		ng-hide="ctrl.currentGame.edit" ng-dblclick="ctrl.startEdit()">{{ctrl.currentGame.data.player.items.potions.antidote || '0'}}</span>
		<input style="width: 25px;" ng-show="ctrl.currentGame.edit"
		ng-blur="ctrl.stopEdit()"
		ng-model="ctrl.currentGame.data.player.items.potions.antidote"></input>
	</div>
	<div class="col-md-1 vertical-align no-padding-right"> <img src="../../img/inventory/anti-curse.png" ng-click="ctrl.startEdit()"
		width="30px" tooltip="Cures Curse, hand size +1 for 1 HC" /> <span class="value before5"
		ng-hide="ctrl.currentGame.edit" ng-dblclick="ctrl.startEdit()">{{ctrl.currentGame.data.player.items.potions.curse || '0'}}</span>
		<input style="width: 25px;" ng-show="ctrl.currentGame.edit"
		ng-blur="ctrl.stopEdit()"
		ng-model="ctrl.currentGame.data.player.items.potions.curse"></input>
	</div>
	<div class="col-md-1 col-md-offset-1 vertical-align no-padding-right"> <img src="../../img/inventory/focus.png" ng-click="ctrl.startEdit()"
		width="30px" tooltip="+3 FD for 1 HC" /> <span class="value before5" 
		ng-hide="ctrl.currentGame.edit" ng-dblclick="ctrl.startEdit()">{{ctrl.currentGame.data.player.items.potions.focus || '0'}}</span>
		<input style="width: 25px;" ng-show="ctrl.currentGame.edit"
		ng-blur="ctrl.stopEdit()"
		ng-model="ctrl.currentGame.data.player.items.potions.focus"></input>
	</div>
	<div class="col-md-1 vertical-align no-padding-right"> <img src="../../img/inventory/threat-potion.png" ng-click="ctrl.startEdit()"
		width="30px" tooltip="Threat -3" /> <span class="value before5"
		ng-hide="ctrl.currentGame.edit" ng-dblclick="ctrl.startEdit()">{{ctrl.currentGame.data.player.items.potions.threat || '0'}}</span>
		<input style="width: 25px;" ng-show="ctrl.currentGame.edit"
		ng-blur="ctrl.stopEdit()"
		ng-model="ctrl.currentGame.data.player.items.potions.threat"></input>
	</div>
</div>

<div class="row col-md-12 top30">
	<item-slot type="primary" list="ctrl.itemList"
		value="ctrl.currentGame.data.player.items.primary" class="col-md-2">
	</item-slot>
	<item-slot type="secondary" list="ctrl.itemList"
		value="ctrl.currentGame.data.player.items.secondary" class="col-md-2">
	</item-slot>
	<item-slot type="armor" list="ctrl.itemList"
		value="ctrl.currentGame.data.player.items.armor" class="col-md-2">
	</item-slot>
	<item-slot type="helm" list="ctrl.itemList"
		value="ctrl.currentGame.data.player.items.helm" class="col-md-2">
	</item-slot>
	<item-slot type="accessory" list="ctrl.itemList"
		value="ctrl.currentGame.data.player.items.accessory" class="col-md-2">
	</item-slot>
</div>

<!-- Dice roller -->
<div class="row col-md-12 top30">
	<div class="col-md-6">
		<dice-roller dice="ctrl.currentGame.dice[0]" id="0"></dice-roller>
	</div>
	<div class="col-md-6">
		<dice-roller dice="ctrl.currentGame.dice[1]" id="1"></dice-roller>
	</div>
</div>


