
<div class="row col-md-12 vertical-align">
	<span class="title">Monsters</span>
	<button ng-click="ctrl.addMonsterCounter()" class="btn btn-default before10" before15>New counter</button>
</div>

<div class="row col-md-12" style="text-align: center;">
	<div ng-repeat="monster in ctrl.currentGame.data.monsterCounters" class="col-md-4">
		<monster model="monster" ctrl="ctrl" id="'monster' + ($index +1)"></monster>
		<button ng-click="ctrl.removeMonsterCounter($index)" class="btn btn-warning top5">Remove</button>
	</div>
</div>