<div class="container-fluid">

	<!-- Hero and darkness boards -->
	<div class="row">
	
		<!-- Hero 66% -->
		<div class="row col-md-7" ng-include="'src/template/hero-board.tpl.html'">
		</div>
		
		
		<!-- Darkness 33% -->
		<div class="row col-md-5" ng-include="'src/template/darkness-board.tpl.html'">
		</div>
	</div>



	<div class="row" ng-include="'src/template/monsters-board.tpl.html'">
	</div>

	<div class="row top30">
		<button ng-click="ctrl.save()" class="btn btn-primary">Save</button>
		<span ng-hide="ctrl.currentGame.edit" ng-dblclick="ctrl.startEdit()">{{ctrl.currentGame.name}}</span>
    	<input ng-show="ctrl.currentGame.edit" ng-blur="ctrl.stopEdit()" ng-model="ctrl.currentGame.name"></input>
	</div>
	

</div>

