.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.after5 { margin-right:5px;}
.after10 { margin-right:10px;}
.after15 { margin-right:15px;}
.after20 { margin-right:20px;}


.before5 { margin-left:5px;}
.before10 { margin-left:10px;}
.before15 { margin-left:15px;}
.before20 { margin-left:20px;}



.no-padding-right {
	padding-right: 0;
	margin-right:0px;
}
.no-padding-left {
  padding-left: 0;
  margin-left:0px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.title {
	font-size:35px;
}
.subtitle {
	font-size:25px;
}
.value {
	font-size: 20px;
}

.header-bg {
	background-color: rgba(120, 70, 0, 0.5);
}